@page
@model IndexModel
@{
    ViewData["Title"] = "CyberSource 3DS Step Up Test";
}

<h1>Auth Test</h1>
<form id="form1" method="post" action="https://centinelapistag.cardinalcommerce.com/V2/Cruise/StepUp" 
    enctype="application/x-www-form-urlencoded">
    <div>
        <label for="JWT">Step-Up Access Token (consumerAuthenticationInformation.accessToken)</label>
    </div>
    <div>
        <input name="JWT" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>